   body,
   h1,
   form {
       margin: 0;
       padding: 0;
   }

   /* Center the content */
   body {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
       background-color: #f0f0f0;
   }

   /* Style the form */
   form {
       text-align: center;
       padding: 20px;
       border: 1px solid #ccc;
       border-radius: 5px;
       background-color: #fff;
       max-width: 400px;
       width: 90%;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       display: flex;
       flex-direction: column;
       align-items: center;
       /* Center form items */
   }

   label,
   input,
   button,
   select {
       margin: 10px 0;
       width: 100%;
       padding: 10px;
       border: 1px solid #ccc;
       border-radius: 5px;
   }

   button {
       background-color: #007BFF;
       color: #fff;
       border: none;
       cursor: pointer;
       margin-top: 20px;
   }

   #button:hover {
       background-color: #0056b3;
   }

   /* Style the h1 */
   h1 {
       font-size: 24px;
       color: #333;
       text-transform: uppercase;
       text-align: center;
       margin: 20px 0;
   }

   .volume-icon {
       background: none;
       border: none;
       font-size: 24px;
       cursor: pointer;
       outline: none;
       margin-left: 10px;
       /* Adjust margin for button */
   }

   footer {
       text-align: center;
       margin-top: 20px;
       /* Adjust margin for footer */
   }

   @media screen and (max-width: 600px) {

       /* Adjust styles for small screens */
       h1 {
           font-size: 20px;
       }
   }